*{  padding: 0;
    margin:0;
}
body{
    font-family: Arial, sans-serif;
    
}
.lgb {
    align-items: center;
    
  }
.container{
   
    padding-bottom: 90px;
    padding-top: 100px;
    border-radius: 20px;
    
}
    
ul{
    padding-top: 10px;
}


h3{
    border-radius: 12px;
}
.form-control {
    display: inline-block;
}